.logo-container {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translateY(-50%);
  width: 250px;
  height: 250px;
  pointer-events: none;
  
  @media screen and (max-width: 768px) {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    width: 150px;
    height: 150px;
    margin: 20px auto;
  }
  
  @media screen and (max-width: 480px) {
    width: 120px;
    height: 120px;
    margin: 15px auto;
  }
}

.outline-svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 450%;
  height: 350%;
  
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

.outline-svg path {
  opacity: .7;
  stroke: #ffd700;
  stroke-width: 4;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  
  @media screen and (max-width: 768px) {
    stroke-width: 3;
  }
  
  @media screen and (max-width: 480px) {
    stroke-width: 2;
  }
}
