.logo-container {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translateY(-50%);
  width: 250px;
  height: 250px;
  pointer-events: none;
  
  @media screen and (max-width: 768px) {
    width: 150px;
    height: 150px;
    top: 15%;
    right: 15%;
    transform: translateY(-50%);
  }
}

.outline-svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 450%;
  height: 350%;

  @media screen and (max-width: 768px) {
    width: 300%;
    height: 250%;
    top: -25%;
    left: -50%;
  }
}

.outline-svg path {
  opacity: .7;
  stroke: #ffd700;
  stroke-width: 4;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
