.page{
    width: 100%;
    height: 100%;
    position: absolute;
}
.top-tags{
    bottom: auto;
    top:35px;
}

.tags{
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0px;
    left: 120px;
    font-size: 18px;
    font-family: 'La Bella Aurore';
    
    @media screen and (max-width: 768px) {
        left: 20px;
        font-size: 14px;
    }
}

.bottom-tag-html{
    margin-left: -40px;
    
    @media screen and (max-width: 768px) {
        margin-left: -20px;
    }
}


.container{
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top:5%;
    margin: 0 auto;
    z-index:1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay:1s;
    
    @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
        min-height: auto;
        top: 10%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

.about-page,.contact-page{
    
    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
        
        @media screen and (max-width: 768px) {
            position: relative;
            left: 0;
            top: 0;
            transform: none;
            width: 100%;
            display: block;
            max-height: none;
            padding: 20px 0;
        }
    
    h1{
        font-size: 53px;
        font-family: "Coolvetica";
        color: #ffd700;
        font-weight: 400;
        margin-top: 0;
        position:relative ;
        margin-bottom: 40px;
        left: 10px;
        
        @media screen and (max-width: 768px) {
            font-size: 36px;
            left: 0;
            margin-bottom: 20px;
            text-align: center;
        }
        
        @media screen and (max-width: 480px) {
            font-size: 28px;
        }
        
        &::before{
            content: "<h1>";
            font-family: 'La Bella Aurore';
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            opacity: 0.6;
            line-height: 18px;
            
            @media screen and (max-width: 768px) {
                font-size: 14px;
                margin-top: -8px;
            }
        }
        &::after{
            content: "</h1>";
            font-family: 'La Bella Aurore';
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -20px;
            margin-left: 20px;
            opacity: 0.6;
            
            @media screen and (max-width: 768px) {
                font-size: 14px;
                left: -20px;
                bottom: -15px;
                margin-left: 10px;
            }
        }

    }
    p{
       font: 13px;
       color: #fff; 
       font-family: sans-serif;
       font-weight: 300;
       min-width: fit-content;
       animation: pulse 1.5s;
       
       @media screen and (max-width: 768px) {
           font-size: 14px;
           line-height: 1.6;
           text-align: justify;
       }
       
       &:nth-of-type(1){
        animation-delay: 1.1s;
       }
       &:nth-of-type(2){
        animation-delay: 1.2s;
       }
       &:nth-of-type(3){
        animation-delay: 1.3s;
       }

    }
    .text-animate-hover{
        &:hover{
            color: #fff;
        }
    }
}
}